In [1]:
import os
import pandas as pd
from optbinning import OptimalBinning
from sklearn.preprocessing import KBinsDiscretizer

/home/huangdan/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/huangdan/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

(CVXPY) Feb 07 08:30:49 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Feb 07 08:30:49 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.8.3296). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')

In [2]:
import numpy as np

In [3]:
file_path = "/hdd1/sams/credit/credit.arff"

In [4]:
with open(file_path, 'r') as f:
    lines = f.readlines()

In [5]:
flag = False
rows = []
for line in lines:
    if line.strip() == "@DATA":
        flag = True
        continue
    
    if not flag:
        continue
    
    row = [int(i) for i in line.strip().split(',')]
    rows.append(row)

In [6]:
data = np.array(rows)
df = pd.DataFrame(data)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [9]:
print(df[24].unique())

[1 0]

In [10]:
def optbinning_data(df:pd.DataFrame, column:int, y:np.array):
    x = df[column].values
    print(len(df[column].unique()))
    optb = OptimalBinning(name="23", dtype="numerical", solver="cp",
                      monotonic_trend="auto", 
                      max_n_prebins=100,
                      min_prebin_size=0.001, time_limit=200)
    optb.fit(x,y)
    print(optb.status)
    res = optb.transform(x, metric="indices")
    print(max(res))
    return res

In [13]:
y = df[24].values
x_23 = optbinning_data(df, 23, y)
df[23] = x_23

6939
FEASIBLE
10

In [12]:
y = df[24].values
x_22 = optbinning_data(df, 22, y)
df[22] = x_22

6897
FEASIBLE
11

In [14]:
y = df[24].values
column = 21
df[column] = optbinning_data(df, column, y)

6937
FEASIBLE
10

In [15]:
column = 20
df[column] = optbinning_data(df, column, y)

7518
FEASIBLE
10

In [16]:
column = 19
df[column] = optbinning_data(df, column, y)

7899
FEASIBLE
8

In [17]:
column = 18
df[column] = optbinning_data(df, column, y)

7943
FEASIBLE
10

In [18]:
column = 17
df[column] = optbinning_data(df, column, y)

20604
FEASIBLE
9

In [19]:
column = 16
df[column] = optbinning_data(df, column, y)

21010
FEASIBLE
12

In [20]:
column = 15
df[column] = optbinning_data(df, column, y)

21548
FEASIBLE
12

In [21]:
column = 14
df[column] = optbinning_data(df, column, y)

22026
FEASIBLE
9

In [22]:
column = 13
df[column] = optbinning_data(df, column, y)

22346
FEASIBLE
10

In [23]:
column = 12
df[column] = optbinning_data(df, column, y)

22723
FEASIBLE
11

In [24]:
file_path = "/hdd1/sams/credit/credit.csv"
df.to_csv(file_path, index=False)

In [25]:
df.head()
# rm unused col
del df[0]

In [26]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,1,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,4,7,4,0,1,3,1,0,3,1
2,90000,2,2,2,34,0,0,0,0,0,...,9,10,7,1,1,3,1,2,7,0
3,50000,2,2,1,37,0,0,0,0,0,...,10,10,7,2,3,3,1,2,2,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,10,10,7,2,8,8,8,1,1,0

In [27]:
Y = df[24]
del df[24]
X = df

In [28]:
# tokenization
col_to_value2token = {}
cnt = 0
for col in X.columns:
    col_values = X[col].values
    col_to_value2token[col] = {}
    col_values_set = set(col_values)
    for val in col_values_set:
        if val not in col_to_value2token[col]:
            col_to_value2token[col][val] = cnt
            cnt += 1

In [29]:
print(cnt)

348

In [30]:
for col in X.columns:
    value_to_token = col_to_value2token[col]
    X[col] = X[col].map(value_to_token)

In [31]:
df = pd.concat([Y, X], axis = 1)

In [32]:
file_path = "/hdd1/sams/credit/credit.csv"
df.to_csv(file_path, index = False, header = False)

In [39]:
# split test, val and train
from sklearn.model_selection import train_test_split

X_train, X_tmp, Y_train, Y_tmp = train_test_split(X, Y, test_size=0.2, random_state=2024)
X_val, X_test, Y_val, Y_test = train_test_split(X_tmp, Y_tmp, test_size=0.5, random_state=2024)

In [40]:

# save to libsvm
train_file = '/hdd1/sams/data/credit/train.libsvm'
val_file = '/hdd1/sams/data/credit/val.libsvm'
test_file = '/hdd1/sams/data/credit/test.libsvm'
def save_dataset(X, Y, file_path:str):
    with open(file_path, 'w', encoding='utf-8') as f:
        n = len(X)
        for i in range(n):
            row = X.iloc[i].values
            y = Y.iloc[i]
            items =[str(y)] + [str(i)+":1" for i in row]
            line = ' '.join(items) + '\n'
            f.write(line)

In [41]:
save_dataset(X_train, Y_train, train_file)
save_dataset(X_val, Y_val, val_file)
save_dataset(X_test, Y_test, test_file)

In [42]:
print(f"train: POS/ALL -> {sum(Y_train.values.reshape(-1))}/{len(Y_train)}")
print(f"val: POS/ALL -> {sum(Y_val.values.reshape(-1))}/{len(Y_val)}")
print(f"test: POS/ALL -> {sum(Y_test.values.reshape(-1))}/{len(Y_test)}")

train: POS/ALL -> 5370/24000
val: POS/ALL -> 624/3000
test: POS/ALL -> 642/3000

In [43]:
sum(Y_train.values.reshape(-1))

5370

In [44]:
len(X_train.columns)

23